<div class="flex justify-center py2">
  <table class="table-light overflow-hidden bg-white border rounded col-8">
    <thead class="bg-darken-1">
      <tr>
        <th>Overall Score</th>
        <th>GPA</th>
        <th>SAT Score</th>
        <th>Date</th>
        <th>Scorecard</th>
      </tr>
    </thead>
    <tbody>
      <% @admission_scores.each do |score| %>
      <tr>
        <td class='py2 center border bold'><%= score.admission_index_score %></td>
        <td class='border center'><%= score.gpa %></td>
        <td class='border center'><%= score.sat_score %></td>
        <td class='border center'><%= time_ago_in_words(score.created_at) %> ago </td>
        <td class='border center'><%= link_to "View Scorecard", admission_score_path(score), class: 'h0-responsive caps mt4 mb0 regular' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
